<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Shiba Avatar">
    <mat-card-title>Title of a Post</mat-card-title>
    <mat-card-subtitle>Author</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    This is the content
  </mat-card-content>
  <mat-card-actions class="share-fav">
    <button mat-icon-button >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>

  <mat-card-actions class="vote-buttons">
    <button mat-icon-button class="upvote">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button class="downvote">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </mat-card-actions>
  <div></div>
</mat-card>
